/*Tablet*/
@media (min-width: 411px) and (max-width:731px) and (orientation: landscape){
  
    body {
        background-color: red;
    }

    main {
        height: 1100px;
        width: 600px;
    }

    main > img {
        width: 250px;
    }

    form {
        width: 500px;
        margin: auto;
    }

    legend {
        font-size: 30px;
    }

    fieldset > p {
        font-size: 30px;
        padding: 10px;
        font-style: normal;
    }

    input {
        padding: 5px;
        font-size: 15px;
        border: 2px solid black;
        border-radius: 5px;
        display: inline-block;
        
    }
}

/*Laptop*/
@media (min-width: 732px) and (max-width:1024px) and (orientation: landscape) {
    body{
        background-image: url(imagens-back/pexels-pixabay-247937_compressed.jpg);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;   
    }

    main {
        height: 1250px ;
        width: 700px;
    }

    main > img {
        width: 400px;
    }

    form {
        width: 600px;
        margin: auto;
    }

    legend {
        font-size: 35px;
    }

    fieldset > p {
        font-style: normal;
        font-size: 25px;
        padding: 10px;
    }

    input {
        padding: 10px ;
        font-size: 20px ;
        display: inline-block;
        border-radius: 5px;
        border: 2px solid black;
    }

    input.enviar:hover {
        background-color: green;
    }
}

