@media screen and (min-width:300px) and (max-width:720px) and (orientation: portrait) {

    body {
        background-color: rgb(143, 143, 143);
    }

    main {
        width: 350px;
        height: 1550px;
    }
    
    main > img {
        width: 190px;
    }

    form {
        width: 300px;
        margin-left: -10px;
    }

    legend {
        font-size: 23px
    }

    fieldset > p {
        font-size: 20px;
        padding: 20px 10px;
        font-style: normal;
    }

    label {
        margin: -10px;
    }

    input {
        margin-top: 10px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 14px;
    }

    input.enviar:hover {
        background-color: rgb(143, 143, 143);
    }
}
    
